/* Стилізація заголовка та основного тексту */
* {
  
    padding: 0;
}

html {
    height: 100%
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://content2.rozetka.com.ua/goods/images/big/10892787.jpg'); /* Замініть 'your-image.jpg' шляхом до вашого файлу зображення */
    background-size: cover; /* Адаптуємо фонове зображення до розміру екрану */
    background-repeat: no-repeat; /* Забороняємо повторення зображення */
    background-attachment: fixed; /* Фіксуємо зображення на фоні */
    font-family: "Segoe UI", sans-serif;
}
a {
    color: #aba8a8;
    text-decoration: none;
    transition: all.6s ease;
    -moz-transition: all.6s ease;
    -webkit-transition: all.6s ease;
}
    a:hover {
        color: #ffffff;
        text-decoration: none;
        transition: all.6s ease;
        -moz-transition: all.6s ease;
        -webkit-transition: all.6s ease;
    }

    a:active {
        color: #fafafa
    }

        .left {
    float: left
}

.right {
    float: right
}

.clear {
    clear: both
}

/*стиль для копіювання,виділення тексту */
::selection {
    background: #808080;
    color: #ffffff
}

::-moz-selection {
    background: #ffffff;
    color: #808080
}


header {
    background-color: #333;
    color: #fff;
    width: 98%;
    padding: 20px 0;
}
header {
    border-bottom: 2px solid silver;
    padding: 1%;
}
    #logo {
    font-size: 2em;
    font-family: Comic Sans MS,sans-serif;
}
.contact {
    font-size: 2em;
    font-family: Comic Sans MS,sans-serif;
    margin-left: 20px;
}
.Title {
    font-size: 2.8em;
    font-family: Comic Sans MS,sans-serif;
    margin-left: 10px;
}
nav {
    background-color: #444;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

    nav ul {
        list-style-type: none;
        padding: 0;
    }

    nav li {
        display: inline;
        margin: 0 10px;
    }

    nav a {
        text-decoration: none;
        color: #fff;
    }

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    
}

.publication {
    background-color: #f4f4f4; /* Колір фону блоку публікації */
    border: 1px solid #ddd; /* Границя для виділення блоку публікації */
    padding: 20px; /* Відступ всередині блоку публікації */
    margin-bottom: 20px; /* Відступ між блоками публікацій */

}

section.publication {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
}

section h2 {
    font-size: 24px;
}

section p {
    font-size: 16px;
}

/* Стилі для форми*/
form {
    width: 60%;
    margin-left: 20%;
    float: left;
}

    form label {
        float: left;
        width: 100%;
        margin-bottom: 10px;
    }

    form input {
        border-radius: 1px;
        border: 2px solid silver;
        padding: 3px;
        float: left;
        clear: both;
        width: 40%;
        margin-bottom: 0px;
        background-color: #fafafa;
    }



/*реєстрація форма */

.page-wrapper2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 90vh;
}

.form-card2 {
    max-width: 515px;
    min-width: 350px;
    height: 638px;
    background-color: #8a8a8a;
    border-radius: 25px;
    box-shadow: 0px 0px 15px 3px #ffffff;
    margin-top: 20px;
    margin-right: 10px;
   

}

.form-wrapper2 {
    min-width: 50%;
    padding: 1px;
}

.form-title2 {
    font-size: 30px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: center;
    padding-bottom: 3px;
    min-width: 372px;
}


.form-input {
    width: 300px;
    height: 48px;
    border: 1px solid #CED0DB;
    border-radius: 4px;
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}





.form-label {
    padding: 24px 0px 8px 0;
    font-size: 16px;
    line-height: 20px;
}

    .form-label:first-of-type {
        padding-top: 0;
    }


.form-submit-button {
    background-color:#fafafa;
    border: none;
    border-radius: 5px;
    color: #333;
    padding: 10px 24px;
    width: 190px;
    height: 50px;
    margin-top: 30px;
    font-size: 18px;
}
